#start{
    width: 1300px;
    height: 200px;
}
section h1{
    font-size: 20px;
    font-family: cursive;

}
section p 
{
    font-size: 15px;
    text-align: center;
    
}
img{
    margin-top: 2px;
    
}
.section4 img{
 height: 200px;
 width: 1500px;
}


